@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.SP .SpNav {
  position: absolute;
  width: 100%;
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: none;
  background: rgba(0, 0, 0, 0.8);
}

.SP .SpNav a {
  outline: none;
  font-size: 20px;
  color: #dadada;
  text-decoration: none;
}

.SP .SpNav a::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 0%;
  border-bottom: 2px solid #dadada;
}

.SP .SpNav a:hover:after {
  -webkit-animation: animate 0.2s linear forwards;
          animation: animate 0.2s linear forwards;
}

@-webkit-keyframes animate {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes animate {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.SP .SpNav .Home {
  font-size: 30px;
  font-family: 'Lobster', cursive;
  margin-left: 2%;
}

.SP .SpNav section {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 2%;
}

.SP .Landing {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.SP .Landing .Hero {
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: url(../media/images/pexels-snapwire-618613.jpg);
  background-size: cover;
  background-position: 0px 100%;
  background-attachment: fixed;
  color: white;
  font-size: 50px;
}

.SP .Landing .Scroll {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 80%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-animation: animateScroll 0.5s ease-in infinite alternate;
          animation: animateScroll 0.5s ease-in infinite alternate;
}

.SP .Landing .Scroll img {
  width: 100px;
  height: 100px;
}

@-webkit-keyframes animateScroll {
  0% {
    padding-top: 1%;
  }
  100% {
    padding-top: 2%;
  }
}

@keyframes animateScroll {
  0% {
    padding-top: 1%;
  }
  100% {
    padding-top: 2%;
  }
}

.SP .Details {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.SP .Details .Personal {
  width: 500px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.SP .Details .Personal .UpdateInfo {
  position: fixed;
  width: 500px;
  height: 500px;
  background: #99ebd2;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #353535;
  display: none;
}

.SP .Details .Personal .UpdateInfo input {
  border: none;
  outline: none;
  border-radius: 10px;
  padding-left: 10px;
  width: 400px;
  height: 50px;
}

.SP .Details .Personal .UpdateInfo .Submit {
  border: none;
  outline: none;
  width: 150px;
  height: 30px;
  background-color: #353535;
  border: none;
  color: #dadada;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
  text-decoration: none;
}

.SP .Details .Personal .UpdateInfo .Submit:hover {
  background-color: #dadada;
  color: #353535;
}

.SP .Details .Personal .UpdateInfo .Close {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 50px;
  height: 50px;
  border: none;
  background: url(../media/icons/clos.jpg);
  background-size: cover;
  cursor: pointer;
  border-radius: 50%;
}

.SP .Details .Personal .UpdateInfo .Close:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.SP .Details .Personal .UpdateInfo::before {
  content: "";
  width: 200vh;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: -1;
}

.SP .Details .Personal a {
  border: none;
  outline: none;
  width: 150px;
  height: 30px;
  background-color: #353535;
  border: none;
  color: #dadada;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
  text-decoration: none;
}

.SP .Details .Personal a:hover {
  background-color: #dadada;
  color: #353535;
}

.SP .Details .Personal h2 {
  width: 300px;
  height: 40px;
  background: #353535;
  color: #dadada;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.SP .Details .Personal section {
  width: 500px;
  height: 200px;
  background: #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.SP .Details .Personal section p {
  width: 450px;
  height: 30px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-weight: 400;
  padding-left: 10px;
  width: 90%;
  height: 30px;
  border-radius: 10px;
}

.SP .Details .Personal section p span {
  width: 450px;
}

.SP .Details .Personal section p .Label {
  width: 100px;
  padding-right: 10px;
  font-weight: bold;
}

.SP .Details .CustandInv {
  width: 400px;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: -1;
}

.SP .Details .CustandInv .Cust {
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #e7e7e7;
  border-radius: 10px;
}

.SP .Details .CustandInv .Cust h3 {
  padding-left: 10px;
  width: 90%;
  height: 30px;
  background: white;
  border-radius: 10px;
  font-weight: 400;
}

.SP .Details .CustandInv .Cust::before {
  width: 200px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  content: "Recent customers List";
  background: #353535;
  color: #dadada;
  border-radius: 10px;
}

.SP .Details .CustandInv .Inv {
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #e7e7e7;
  border-radius: 10px;
}

.SP .Details .CustandInv .Inv h3 {
  padding-left: 10px;
  width: 90%;
  height: 30px;
  background: white;
  border-radius: 10px;
  font-weight: 400;
}

.SP .Details .CustandInv .Inv::before {
  content: "Recent products List";
  width: 200px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #353535;
  color: #dadada;
  border-radius: 10px;
}

.SP .Inventory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 200vh;
}

.SP .Inventory h2 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  top: 10%;
  height: 100px;
  background-color: #cefca9;
  color: #353535;
}

.SP .Inventory .NewProductData {
  position: fixed;
  width: 500px;
  height: 500px;
  background: #99ebd2;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #353535;
  display: none;
}

.SP .Inventory .NewProductData input {
  border: none;
  outline: none;
  border-radius: 10px;
  padding-left: 10px;
  width: 400px;
  height: 50px;
}

.SP .Inventory .NewProductData .Submit {
  border: none;
  outline: none;
  width: 150px;
  height: 30px;
  background-color: #353535;
  border: none;
  color: #dadada;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
  text-decoration: none;
}

.SP .Inventory .NewProductData .Submit:hover {
  background-color: #dadada;
  color: #353535;
}

.SP .Inventory .NewProductData .Close {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 50px;
  height: 50px;
  border: none;
  background: url(../media/icons/clos.jpg);
  background-size: cover;
  cursor: pointer;
  border-radius: 50%;
}

.SP .Inventory .NewProductData .Close:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.SP .Inventory .NewProductData::before {
  content: "";
  width: 200vh;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: -1;
}

.SP .Inventory .AddProduct {
  position: fixed;
  border: none;
  outline: none;
  width: 150px;
  height: 30px;
  background-color: #353535;
  border: none;
  color: #dadada;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
  text-decoration: none;
  width: 100px;
  height: 50px;
  left: 2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.SP .Inventory .AddProduct:hover {
  background-color: #dadada;
  color: #353535;
}

.SP .Inventory .Inv-Container {
  margin-top: 20%;
  width: 100%;
  height: 200vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (300px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 300px);
  -ms-grid-rows: (150px)[auto-fill];
      grid-template-rows: repeat(auto-fill, 150px);
  gap: 200px;
}

.SP .Inventory .Inv-Container .Product {
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.SP .Inventory .Inv-Container .Product img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.SP .Inventory .Inv-Container .Product:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.SP .Inventory .Inv-Container .Product button {
  border: none;
  outline: none;
  width: 150px;
  height: 30px;
  background-color: #353535;
  border: none;
  color: #dadada;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
  text-decoration: none;
  width: 100px;
}

.SP .Inventory .Inv-Container .Product button:hover {
  background-color: #dadada;
  color: #353535;
}

.SP .Inventory .Inv-Container .Product .Overlay {
  position: absolute;
  height: 300px;
  width: 300px;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  opacity: 1;
  overflow-y: hidden;
  display: none;
}

.SP .Inventory .Inv-Container .Product .Overlay .Text {
  position: absolute;
  margin-top: 300px;
  height: 300px;
  width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #e7e7e7;
  z-index: 1;
}

.SP .Inventory .Inv-Container .Product .Overlay .Text h4, .SP .Inventory .Inv-Container .Product .Overlay .Text p {
  padding-top: 10%;
  padding-left: 15%;
}

.SP .Inventory .Inv-Container .Product .Overlay .Text .btn {
  margin-left: 15%;
  margin-top: 10%;
  width: 100px;
  height: 40px;
  background: #dadada;
  color: #353535;
  border: none;
  cursor: pointer;
  padding-left: 0;
}

.SP .Inventory .Inv-Container .Product .Overlay .Text .btn:hover {
  background: #353535;
  color: #dadada;
}

.SP .Inventory .Inv-Container::before {
  position: fixed;
  content: "";
  width: 400vh;
  height: 200vh;
  border-radius: 50%;
  background-color: #caffeb;
  z-index: -1;
}

.SP .Customer {
  width: 100%;
  height: 150vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.SP .Customer h2 {
  position: absolute;
  top: -5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin-top: 10%;
  height: 100px;
  background-color: #cefca9;
  color: #353535;
}

.SP .Customer .Chart-Container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.SP .Customer .Chart-Container .Customer-Chart {
  width: 80%;
  height: 50%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #e7e7e7;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.SP .Customer .Chart-Container .Customer-Chart .Title {
  background: #8d8d8d;
}

.SP .Customer .Chart-Container .Customer-Chart .Title h3 {
  width: 33.33%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.SP .Customer .Chart-Container .Customer-Chart .Title, .SP .Customer .Chart-Container .Customer-Chart .Record {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.SP .Customer .Chart-Container .Customer-Chart .Title span, .SP .Customer .Chart-Container .Customer-Chart .Record span {
  width: 33.33%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.SP .Customer .Chart-Container .Customer-Chart .Record {
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.SP .Customer .Chart-Container .Customer-Chart .Record:hover {
  background: #353535;
  color: #dadada;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.SP .Customer .Chart-Container .Refresh {
  width: 100px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
  border: none;
  outline: none;
  background: #dadada;
  color: #353535;
}

.SP .Customer .Chart-Container .Refresh:hover {
  background: #353535;
  color: #dadada;
}
/*# sourceMappingURL=salesperson.css.map */